*{
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.ak-main{
	padding: 5% 10%;
	background-color: #eeeeee;
}
.ak-header_logo
{
	font-size: 48px;
	letter-spacing: 1px;
	color: rgb(48,48,48);
	font-family: "Roboto";
	font-weight: 900;
	display: inline-block;
}
.ak-navBar{
	display: inline-block;
	width: 50%;
	
}
.ak-navBar_item{
	/*display: inline-block;*/
	font-size: 18px;
	letter-spacing: 0px;
	color: rgb(48,48,48);
	font-family: "Roboto";
	line-height: 55px;
	margin-right: 3%;
}

.ak-slider{
	padding: 7.5% 0;
}
.right_side{
	float: right;
	
	text-align: right;
}
.ak-slider{
	font-size: 0px;
}
.ak-singleView_descr{
	display: inline-block;
	width: 55%;
}
.ak-singleView_img{
	display: inline-block;
	width: 45%;
	padding-left: 7.5%;
}
.ak-singleView_descr{
	text-align: right;
}
.ak-singleView_img img{
	display: block;
}
.ak-singleView_descr h1{
	margin: 0 0;
	font-size: 150px;
	letter-spacing: 4px;
	line-height: 150px;
	color: rgb(48,48,48);
	font-family: "Raleway";
	font-weight: 800;
	text-transform: uppercase;
}
.ak-singleView_descr p{
	padding-left: 5%;
	font-size: 24px;
	letter-spacing: 1px;
	line-height: 36px;
	color: rgb(48,48,48);
	font-family: "Roboto";
	font-weight: 300;
}
.ak-singleView_descr a{
	font-size: 24px;
	letter-spacing: 1px;
	line-height: 36px;
	color: rgb(225,0,17);
	font-family: "Roboto";
	font-weight: bold;
}
.ak-featured{
	background-color: white;
	text-align: center;
}
.ak-slider_nav{
	width: 75px;
	margin: 7% auto;
	margin-bottom: 0;
}
.ak-slider_nav div{
	display: inline-block;
	height: 15px;
	width: 15px;
	border-radius: 50%;	
	background-color: #2f2f2f;
	margin-right: 15px;
}
.ak-slider_nav div:last-child{
	margin-right: 0;
	background-color: #e10011;
}
.ak-featured{
	padding: 5% 5%;
	font-size: 0px;
}
.ak-featured_title{
	width: 50%;
	margin: 0 auto;
}
.ak-featured_title h1
{
	margin: 0 0;
	font-size: 48px;
	letter-spacing: 1px;
	color: rgb(48,48,48);
	font-family: "Raleway";
	font-weight: 800;	
}
.ak-featured_title p{
	font-size: 18px;
	letter-spacing: 0px;
	line-height: 24px;
	color: rgb(48,48,48);
	font-family: "Raleway";
}
.ak-featured_item{
	display: inline-block;
	text-align: center;
	height: 400px;	
	padding: 2.5% 2.5%;	
}
.ak-featured_item div{
	background-color: #eeeeee;
	overflow: hidden;
	height: 100%;
}
.ak-featured_item img{
	display: block;
	margin: 0 auto;
	/*width: 100%;*/
	


}
.big{
	width: 66.66%;

	
}
.small{
	width:33.33%;
	/*margin-right: 10%;
	margin-bottom: 10%;*/
}
